$colorsText: #616161;
$fs-14: 14px;
$fs-16: 16px;
$fs-16: 16px;
$fs-20: 20px;
$fs-22: 22px;

$theme-colors: ("blue": #0070B1,
  "blue-dark": #00304C,
  "secondary-footer": #1C8ADB,
  "blue-extralight": #65BFFF,
  "orange": #EB7428,
  "orange-hover": #ff8234,
  "green": #018145,
  "green-light": #2FB195,
  "yellow": #F4BE28,
  "yellow-light": #FFEC42,
  "text-primary": #616161,
  "text-4040": #404040,
  "text-6b6a": #6b6a6a,
);